.title{
    color: #252525;
    font-weight: bolder;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5rem;
}

.content{
    color: #646464;
    font-family: 'Signika Negative', sans-serif;
}

.emailSender{
    resize: none;
    width: 100%;
    height: 1rem;
}

.emailContent{
    resize: none;
    width: 100%;
    height: 10rem;
}

a {
	color: #646464;
	font-weight: bolder;
  box-shadow: inset 0 0 0 0 #646464;
  color: #646464;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

a:hover {
  color: #fff;
  box-shadow: inset 50rem 0 0 0 #2b2b2b;;
}

.question{
  font-size: 1.15rem;
  font-weight: bolder;
}

.answer{
  font-style: oblique;
  margin-top: -1rem;
}
/* 
Hardboiled CSS3 Media Queries by Andy Clarke:
License: Creative Commons CC Zero Declaration. No Rights Reserved.
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    .bodyAdjustment{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
  and (min-width: 321px) {
    .bodyAdjustment{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
  and (max-width: 320px) { 
    .bodyAdjustment{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    .bodyAdjustment{
        margin-left: 12rem;
        margin-right: 12rem;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {
 
    .bodyAdjustment{
        margin-left: 15rem;
        margin-right: 15rem;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {   
    .bodyAdjustment{
        margin-left: 12rem;
        margin-right: 12rem;
    }
}

/* Desktops and laptops ----------- */



@media only screen 
  and (min-width: 1080px) {
    .bodyAdjustment{
        margin-left: 28rem;
        margin-right: 28rem;
    }
    
}



/* Large screens ----------- */
@media only screen 
  and (min-width: 1440px) {    
    .bodyAdjustment{
        margin-left: 30rem;
        margin-right: 30rem;
    }
    
}

@media only screen 
  and (min-width: 1920px) {    
    .bodyAdjustment{
        margin-left: 45rem;
        margin-right: 45rem;
    }
    
}

@media only screen 
  and (min-width: 2560px) {    
    .bodyAdjustment{
        margin-left: 60rem;
        margin-right: 60rem;
    }
    
}




